.text-white a {
  color: #fff;
  text-decoration: none;
}

.header-content{
  background-color: #0061ff;
}

.header-background{
  background-image: url(../img/header-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;

  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.header-content main {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  width: 573px;
}


.informacao .info-header{
  width: 500px;
}

.viagens{
  background-color: rgb(210 207 207);;
}

.cards{
  max-width: 1000px;
  margin: auto;
  width: 100%;
}

.recebaNovidade{
  height: 500px;
}

.recebaNovidade form{
  max-width: 700px;
  width: 100%;
}

.footer_background_color{
  background-color: #252b42;
}

@media only screen and (max-width: 760px) {
  .header-background {
    flex-direction: column;
  }

  .header-background main {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .header-content main {
    width: unset;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
  }

  .informacao div {
    flex-direction: column !important;
    justify-content: center !important;
  }

  .info-header {
    width: unset !important;
  }

  .viagens .cards {
    justify-content: center !important;
  }

  footer > section {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .header-background{
    background-image: url(../img/header-background-full-hd.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1012px;
    max-width: 100%;
    width: 100%;
    margin: auto;
  }
  
}
